.navBarCustom {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  border: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  min-height: 60px;
  padding: 10px 0px 12px 0px;
  margin-bottom: unset;
}
.navBarCustom .navbarNavCustom > li > a {
  color: #ffffff;
}

.imgCustom {
  width: 100%;
}

.serviceHeadCustom {
  background-color: #fbd857;
}
.serviceDescription {
  line-height: 1.5;
}
.iconCustom {
  cursor: pointer;
}


.serviceCustomBread {
  padding-top: 30px;
  padding-bottom: 30px;
}
.serviceCustomBreadSub {
  padding: 0px 0px 20px 0px;
}
.serviceCustomDescription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerMiniSubDes{
    padding-top: 36px;
  }
.headTwo{
  margin-bottom: 20px !important;
}
@media screen and (min-width: 1000px) {
  .imgCustom {
    height: 100vh !important;
  }
}
@media screen and (max-width: 1000px) {
  .imgCustom {
    height: 50vh !important;
  }
}
@media screen and (max-width: 767px) {
  .imgCustom {
    height: 30vh !important;
  }
  .headTwo {
    /* font-size: medium; */
  }
  .footerMiniSubDes{
    padding-top: 10px;
    text-align: justify;
  }
  .footerFollow{
    padding-top: 10px;
  }
  .navbarCustomBrand{
    padding-left: 15px;
    padding-top: 5px;
  }
  .navbarCollapseCustom{
    background: #13100fad;
  }
}

@media screen and (min-width: 767) {
  .serviceCustom{
    height: 100vh;
  }
  .serviceHeadCustom{
    height: 50vh;
  }
  .serviceMenuCustom{
    height: 50vh;
  }
}
.footer-bs {
    background-color: #3c3d41;
	color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}


.navBarToggleCustom{
    margin-top: unset;
    margin-right: 30px;
    border: none !important;;
}


.cusSpacing{
  padding: 0px 20px 0px 20px;
}

.cusThumbnail{
  border: unset !important;
  -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.serviceCustomArrow {
  padding-bottom: 30px;
}

.textController {
  word-wrap: break-word;
  font-size: 13px;
}

.footerClass{
  background-color: rgb(213 214 212 / 68%);
  padding: 30px 0px 30px 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: unset !important;
}

.navbar-default .navbar-toggle {
  border-color: unset !important;;
}